.modules {
  height: 100%;
  width: 100%;
}

.modules .container-flex {
  display: flex;
  height: 100%;
  align-items: stretch;
}

.modules .container-flex .left-menu-container {

}

.modules .container-flex .content-container-flex {
  flex-basis: 100%;
  width: calc(100% - 100px);
  display: flex;
  flex-direction: column;
}

.modules .container-flex .content-container-flex .view-content .module {
  height: 100%;
}

.modules .container-flex .content-container-flex .view-content {
  padding: 20px;
  flex-basis: 100%;
}

.modules .container-flex .content-container-flex .view-content .module {
  border: 1px solid silver;
}

.modules .container-flex .content-container-flex .view-content .global-loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0, 0.3);
  color: black;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 25px;
}

.modules .container-flex .content-container-flex .view-content .global-loading i.fa {
  margin-right: 5px;
}