<div class="login-box" window>
    <form class="form-signin" ng-submit="$ctrl.login({email: $ctrl.email, password: $ctrl.password})">
        <div class="header">
            <a id="logo-link" href="https://www.linnworks.com/">
                <img src="https://www.linnworks.com/themes/one-ring/img/logo.png" alt="Linnworks logo" width="180">
            </a>
        </div>
        <div class="content">
            <input type="email" id="inputEmail" ng-model="$ctrl.email" class="form-control" placeholder="Email address" required autofocus>
            <input type="password" id="inputPassword" ng-model="$ctrl.password" class="form-control" placeholder="Password" required>
        </div>
        <div class="footer">
            <div class="buttons">
                <button class="btn btn-primary" type="submit">Sign in</button>
            </div>
        </div>
    </form>
</div>