.login-box {
  width: 450px;
}

.login-box .form-signin .form-control {
  height: auto;
  box-sizing: border-box;
}

.login-box .form-signin .form-control:focus {
  z-index: 2;
}

.login-box .form-signin input[type="email"],
.login-box .form-signin input[type="password"] {
  border-radius: 0;
}

.login-box .form-signin input[type="password"] {
  margin-top: 5px;
}

.login-box .buttons {
  text-align: right;
}