$lwLightBlue: #7390B3;
$lwLightBlueHover: #3f5672;

$lwDarkBlue: #477099;
$lwDarkBlueHover: #5C7FA5;
$lwDarkBlueActive: #3F6387;

$lwDarkBlueBorder: #6589B3;
$lwDarkBlueDarkBorder: #335A85;
$lwDarkBlueLightBorder: #476A8F;

$lwDarkBlueTitle: #ABCAF1;

$lwSemiDarkBlue: #5C7FA5;
$lwSemiDarkBlueHover: #395e88;

$lwLightBlueBackground: #93B1C9;

.btn-primary {
  cursor: pointer;
  border: 1px solid $lwDarkBlueDarkBorder;
  border-radius: 0;
  color: #ffffff;
  box-shadow: inset 0 1px 0 0 #7a8eb9;
  background: linear-gradient(to bottom, #5c7fa5 100%, #557496 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='5c7fa5', endColorstr='#557496', GradientType=0);
}

.btn-primary:hover,
.btn-primary:active {
  background: linear-gradient(to bottom, #4d7097 5%, #446890 100%);
  border: 1px solid $lwDarkBlueDarkBorder;
}

.btn-primary:focus {
  box-shadow: none;
}