@import 'core/core';

html {
  min-width: 1280px;
  min-height: 720px;
}

html, body {
  height: 100%;
  overflow: auto;
  font-size: 14px;
}

.app {
  height: 100%;
}

.app .container-flex {
  display: flex;
  height: 100%;
  align-items: stretch;
}

.app .container-flex .left-menu-container {

}

.app .container-flex .content-container-flex {
  flex-basis: 100%;
  width: calc(100% - 100px);
  display: flex;
  flex-direction: column;
}

.app .container-flex .content-container-flex .view-content .module {
  height: 100%;
}

.app .container-flex .content-container-flex .view-content {
  padding: 20px;
  flex-basis: 100%;
}

.app .container-flex .content-container-flex .view-content .module {
  border: 1px solid silver;
}

.app .container-flex .content-container-flex .view-content .global-loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0, 0.3);
  color: black;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 25px;
}

.app .container-flex .content-container-flex .view-content .global-loading i.fa {
  margin-right: 5px;
}