@import 'common/common';

.app {
  height: 100%;
}

.app .container-flex {
  display: flex;
  height: 100%;
  align-items: stretch;
}

.app .container-flex .left-menu-container {

}

.app .container-flex .content-container-flex {
  flex-basis: 100%;

  display: flex;
  flex-direction: column;
}

.app .container-flex .content-container-flex .view-content .module {
  height: 100%;
}

.app .container-flex .content-container-flex .view-content {
  padding: 20px;
  flex-basis: 100%;
}

.app .container-flex .content-container-flex .view-content .module {
  border: 1px solid $lwDarkBlueTitle;
}