@import "~bootstrap/scss/bootstrap";

$lwLightBlue: #7390B3;
$lwLightBlueHover: #3f5672;

$lwDarkBlue: #477099;
$lwDarkBlueHover: #5C7FA5;
$lwDarkBlueActive: #3F6387;

$lwDarkBlueBorder: #6589B3;
$lwDarkBlueDarkBorder: #335A85;
$lwDarkBlueLightBorder: #476A8F;

$lwDarkBlueTitle: #ABCAF1;

$lwSemiDarkBlue: #5C7FA5;
$lwSemiDarkBlueHover: #395e88;

html, body {
  height: 100%;
  overflow: hidden;
  font-size: 14px;
}