<div class="home jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>HOME</h1>

        <h4>two-way primitive value: </h4><input type="text" ng-model="primitiveValue"/><b>{{primitiveValue}}</b>
        <h4>one-way primitive value: </h4><input type="text" ng-model="oneWayValue"/><b>{{oneWayValue}}</b>

        <br/><br/><br/>
        <h4>Home object (one-way binded):</h4> {{objectValue}}
        <br/>
        <button ng-click="changeReference();" class="btn btn-primary">change reference</button>

        <br/><br/><br/>
        <h4>Home object (two-way binded): </h4> {{twoWayObject}}
        <br/>
        <button ng-click="changeTwoWayReference();" class="btn btn-primary">change reference</button>

        <br/><br/><br/>
        <h4>Callback submit result:</h4>
        {{callbackResult}}

        <br/><br/><br/>
        <h4>Items in collection:</h4>

        <table class="table table-striped">
          <tr>
            <th>i</th>
            <th>item</th>
          </tr>
          <tr ng-repeat="item in $ctrl.collection track by $index">
            <td>{{$index}}</td>
            <td>{{item}}</td>
          </tr>
        </table>
      </div>

      <div class="col-md-6">
        <test-directive
          callback="bindedCallback(value1, value2);"
          one-way-value="oneWayValue"
          two-way-object="twoWayObject"
          object-value="objectValue"
          primitive-value="primitiveValue"></test-directive>
      </div>
    </div>
  </div>
</div>
