@import "../../core/core";

.login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $lwLightBlueBackground;
  color: white;
  padding-top: 50px;
}

.login .login-box {
  margin: 0 auto;
}